@import "./reset.css";
@import "./variables.css";
@import "./menu.css";
@import "./list.css";
@import "./modal.css";

body {
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  background-color: var(--bgColor);
  /* color: var(--darkgreen); */
  color: white;
  padding: 1.25rem 0;

  touch-action: none;
  position: fixed;
}
